.settings/
.project
.classpath
.idea/
*.iml
*.ipr
*.iws
target/
manifest.json
.m2
native-libs
.DS_Store
.terraform/
dependency-reduced-pom.xml
ami_id.properties
terraform.tfstate.backup
terraform.tfstate
/bin/
